<section class="bibliography">
<h2>Publications</h2>
<ul class="bibliography-list">
<li>Tresoldi, Tiago et al. (2022). Managing Historical Linguistic Data for Computational Phylogenetics and Computer-Assisted Language Comparison. In *The Open Handbook of Linguistic Data Management*. The MIT Press.</li>
<li>Tresoldi, Tiago (2021). Ngesh: a Python library for synthetic phylogenetic data. *Journal of Open Source Software*, 6(66), 3173.</li>
<li>Rzymski, Christoph, Tresoldi, Tiago, Greenhill, Simon J, & others (2020). The Database of Cross-Linguistic Colexifications, reproducible analysis of cross-linguistic polysemies. *Scientific Data*, 7(1), 1--12.</li>
<li>Tresoldi, Tiago (2020). DAFSA: a Python library for Deterministic Acyclic Finite State Automata. *Journal of Open Source Software*, 5(46), 1986.</li>
<li>List, Johann-Mattis et al. (2018). CLICS2: An improved database of cross-linguistic colexifications assembling lexical data with the help of cross-linguistic data formats. *Linguistic Typology*, 22(2), 277--306.</li>
<li>Tresoldi, Tiago (2017). O Ulisses dos muitos retornos: por uma história do clássico. *Nuntius Antiquus*, 13(1), 227--251.</li>
</ul>
</section>