<footer class="page-footer">
  <div class="credits">
    <span>&copy; {{ site.time | date: '%Y' }}
      {% if site.email %}
        <a href="mailto:{{ site.email }}">{{ site.author }}</a>
      {% else %}
        {{ site.author }}
      {% endif %}
    </span>
    {% if site.github_username or site.twitter_username %}
    <span class="social-links">
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
      {% endif %}
    </span>
    {% endif %}
  </div>
</footer>
